<script setup>
import { useModalDeleteStore } from '../stores/modalDelete.js';
const modalDelete = useModalDeleteStore();
</script>

<template>
    <div v-if="modalDelete.isVisible" class="modal-mask">
        <div class="modal-wrapper">
            <div class="modal-container">
                <h2>Kontakt löschen</h2>
                <p>Wollen Sie {{ modalDelete.vorname }} {{ modalDelete.nachname }} wirklich löschen?</p>
                
                <button @click="modalDelete.buttonCancelClick">Abbrechen</button>
                <button @click="modalDelete.buttonDeleteClick">Löschen</button>
            </div>
        </div>
    </div>
</template>

<style scoped>
        .modal-mask {
            position: fixed;
            z-index: 9998;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: table;
        }

        .modal-wrapper {
            display: table-cell;
            vertical-align: middle;
        }

.modal-container {
    background-color: antiquewhite;
    width: 20em;
    margin: 0 auto;
    padding: 0.5em;
}
</style>
